@model Ballerz.Football.Ballerz.Knowledgebase.Knowledgebase.Data.ClubPersonHistory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>ClubPersonHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubPersonId" class="control-label"></label>
                <input asp-for="ClubPersonId" class="form-control" />
                <span asp-validation-for="ClubPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeagueName" class="control-label"></label>
                <input asp-for="LeagueName" class="form-control" />
                <span asp-validation-for="LeagueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedCards" class="control-label"></label>
                <input asp-for="RedCards" class="form-control" />
                <span asp-validation-for="RedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YellowCards" class="control-label"></label>
                <input asp-for="YellowCards" class="form-control" />
                <span asp-validation-for="YellowCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals" class="control-label"></label>
                <input asp-for="Goals" class="form-control" />
                <span asp-validation-for="Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
