@model Ballerz.Football.Ballerz.Web.Models.Clubs.AddClubModel



    <title>Create</title>



<h4>Club</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddClub" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubName" class="control-label"></label>
                <input asp-for="ClubName" class="form-control" />
                <span asp-validation-for="ClubName" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="YearFounded" class="control-label"></label>
                <input asp-for="YearFounded" class="form-control" />
                <span asp-validation-for="YearFounded" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="WorldwideFans" class="form-control" placeholder="Worldwide Fans" />
                <span asp-validation-for="WorldwideFans" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="AverageAttendance" class="form-control" placeholder="Average Attendance" />
                <span asp-validation-for="AverageAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialFollowing" class="control-label"></label>
                <input asp-for="SocialFollowing" class="form-control" />
                <span asp-validation-for="SocialFollowing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubValue" class="control-label"></label>
                <input asp-for="ClubValue" class="form-control" />
                <span asp-validation-for="ClubValue" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="PageTheme" class="control-label"></label>
                <input asp-for="PageTheme" class="form-control" />
                <span asp-validation-for="PageTheme" class="text-danger"></span>
            </div>
            <div class="form-group"></div>
               <label asp-for="PageTheme2" class="control-label"></label>
                <input asp-for="PageTheme2" class="form-control" />
                <span asp-validation-for="PageTheme2" class="text-danger"></span>
            </div>
             <div class="col-md-10">
                        <label>Competes In </label>&nbsp;<select asp-for="LeagueId" asp-items="@Model.LeagueList"></select>
                    </div>
                            <div id="upload">
                    <label style="">Upload Team Badge</label>
                    <br />
                    <label class="btn btn-default btn-file">
                        Browse <input asp-for="ImageT1" typeof="file" style="display: none">
                    </label>
                </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

