@model Ballerz.Football.Ballerz.Web.Models.Countries.AddCountryModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Create New Forum
        </div>
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-4 col-md-offset-4 text-center" style="">
        <div id="createForumSection">
            <form asp-action="AddCountry" method="post" id="createCountryForm" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                   
                    <input asp-for="Name" class="form-control" placeholder="Country Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                    <div class="col-md-10">
                        <label>Continent</label>&nbsp;<select asp-for="ContinentId" asp-items="@Model.ContinentList"></select>
                    </div>
                <div id="upload">
                    <label style="">Upload Flag</label>
                    <br />
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" asp-for="UploadFlag" style="display: none">
                    </label>
                </div>
                <button type="submit" id="newFormBtn" class="btn btn-submitPost" style="margin-top: 20px;">Add Country</button>
            </form>
        </div>
        </div>
    </div>
</div>